.container{
   display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  align-items: end;
}
.contact_form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.top_btn{
    display: flex;
    gap: 32px;
  margin-bottom: 16px;


}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.form_control input{
    height: 40px;
    padding: 0 8px;
}
.form_control label{
     font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}
.form_area {
  flex: 1;
}

.contact_image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}


